/*
  Titlebar blocks the Video div so we can
  usurp youtube controls
 */
#titlebar{
  position: relative;
  width: 740px;
  height: 500px;
  background-color: #FFF;
  opacity: 0;
  /*top : 5px;*/
  z-index: 1;
}

#container{
  position:absolute;
  left: 0;
  top: 0;
  margin-top: 15;
  margin-left: 20px;
  margin-bottom: 50;
  width: 740px;
  height: 500px;
  background-color: #ffffff;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border-style: solid;
	border-width: 2;
	border-color: black;
	padding-left: 20;
	padding-right: 15;
	padding-top: 20;
	padding-bottom: 15;
	
	
}
	
#scales{
margin-top: 15;
	float: right;
	position:relative;
	margin-right: 20;
	height: auto;
	
	border-style: solid;
	border-width: 2;
	border-color: black;
	display: block;
	padding-left: 15;
	padding-right: 15;
}

#chords{
margin-top: 15;
	float: right;
	position:relative;
	height: auto;
	
	margin-right: 20;
	border-style: solid;
	border-width: 2;
	border-color: black;
	display: block;
	padding-left: 15;
	padding-right: 15;
}
#menu{
margin-top: 15;
	float: right;
	position:relative;
	height: auto;
	
	margin-right: 20;
	border-style: solid;
	border-width: 2;
	border-color: black;
	display: block;
	padding-left: 15;
	padding-right: 15;
}

#takesMenu {
  margin-top: 15;
  float: right;
  position:relative;
  margin-right: 20;
  height: auto;
  
  border-style: solid;
  border-width: 2;
  border-color: black;
  display: block;
  padding-left: 15;
  padding-right: 15;
}