/**
 *  possible color schemes
 *  http://colorschemedesigner.com/csd-3.5/#4E42f--rUFfFf
 */

body {
  background-color:#EFEEFF;
}


/*
  Titlebar blocks the Video div so we can
  usurp youtube controls
 */
#titlebar{
  position: relative;
  width: 740px;
  height: 500px;
  background-color: #FFF;
  opacity: 0;
  /*top : 5px;*/
  z-index: 1;
}

#container{
  position:absolute;
  left: 0;
  top: 0;
  margin-top: 15;
  margin-left: 20px;
  margin-bottom: 50;
  width: 740px;
  height: 500px;
  background-color: #590095;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border-style: solid;
	border-width: 2;
	border-color: black;
	padding-left: 20;
	padding-right: 15;
	padding-top: 20;
	padding-bottom: 15;
}

.menu{

	float: right;
	position:relative;
	height: auto;
	
	margin-right: 20;
	border-style: solid;
	border-width: 2;
	border-color: black;
	display: block;
	padding-left: 15;
	padding-right: 15;
}

#ui {
/*  margin-top: 15;*/
  float: right;
  position:relative;
  height: auto;
  background-color: #F4F291;
  border-style: none;
  width: 600;
  border-style: solid;
  border-width: 20;
  border-color: #959331;
  display: block;
  padding: 12px;
}

.dropdown {
}

#scales{
}

#chords{
}

#dropdowns {
  margin-top: 15;
  float: right;
  position:relative;
  height: auto;
  border-style: none;

}